<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>49ers Cricket Connect</title>
	<link rel="stylesheet" type="text/css" href="../assests/css/index.css">
  </head>
  <body>
    <% include partials/header.ejs %>

	<div class="homepage">
	 <div class="home_content">
	  <div class="opa_div savcon">

	  </div>
	   <div class="content">
       <%if(user){%>
       <p><%= user.firstName %> <%= user.lastName %>'s Connections :</p>
         <%}%>
        <div class="table">
         <table>
           <thead>
          <tr>
          <th>Connection</th>
          <th>Category</th>
          <th>Joined?</th>
		       <th> </th>
          </tr>
        </thead>
        <tbody>
                <% for(var i=0; i< data.con_list.length ;i++) { %>
          <tr>

            <td class="conTab"><%= data.con_list[i].Connection.connectionName %></td>
            <td class="conTab"><%= data.con_list[i].Connection.connectionTopic%>  </td>
            <td class="conTab"><%= data.con_list[i].RSVP%></td>
            <td>
              <form method="post" >
              <button class="button1" onclick="window.location.href='/connection?connectionId=<%= data.con_list[i].Connection.connectionID %>'" type="button">Update</button>
              <button class="button2" formaction='/savedConnections?connectionId=<%= data.con_list[i].Connection.connectionID%>'>Delete</button>
              <input type ="hidden" name ="action" value="delete"/>
              </form>
            </td>
          </tr>
          <% } %>
          </tbody>

        </table>
	    </div>
      </div>
	 </div>
	</div>
  <% include partials/footer.ejs %>
  </body>
</html>
